body {
    display: flex;
    flex-direction: column;
}

.header {
    max-height: 30px;
    display: flex;
}

.main {
    display: flex;
    flex-direction: column;
}

.intro {
    display: flex;
}

.info {
    display: flex;
}

.quote {
    display: flex;
}

.call-to-action {
    display: flex;
}

.footer {
    display: flex;
}